.mygrid {
    display: grid;
    grid-template-columns: repeat(2, calc(50%));
    grid-template-rows: repeat(3, calc(100vh / 3));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.smallgrid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 49vh);

    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.wide {
    grid-column-end: span 2;
}


.customButton {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.recordBtns {
    z-index: 9999999;
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 50px;
    display: grid;
}

#startBtn,
#stopBtn {
    border: none;
    position: relative;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 44px;
    color: white;
    font-weight: bold;
    text-align: center;
}

#startBtn:hover,
#stopBtn:hover {
    cursor: pointer;
    filter: brightness(.7);
}

#startBtn i,
#stopBtn i {
    margin: 0 auto;
    color: white;
    font-weight: bold;
}

#startBtn {
    border-radius: 17px 17px 0 0;
    background-color: green;
}

#stopBtn {
    border-radius: 0 0 17px 17px;
    background-color: red;
}