body {
    height: 100vh !important;
    overflow: hidden;
}

.mygrid {
    display: grid;
    grid-template-columns: repeat(2, calc(50%));
    grid-template-rows: repeat(3, calc(100vh / 3));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.smallgrid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 49vh);

    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.wide {
    grid-column-end: span 2;
}


.customButton {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}